.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--clr-error);
  padding: 1rem;
  text-align: center;
  z-index: 101;
  display: flex;
  align-items: center;
  justify-content: space-between;

  div {
    width: 35px;
  }

  p {
    color: var(--clr-white);
  }

  button {
    padding: 0.4rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 100vmax;
    width: fit-content;
    fill: var(--clr-white);

    svg {
      width: 1.4rem;
    }

    &:hover {
      color: var(--clr-white);
    }

    &:active {
      color: var(--clr-white);
    }
  }
}
