.container {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem;

  a {
    text-align: center;
    position: relative;
    padding: 0.6rem 0.4rem;
    color: var(--clr-tertiary);
    font-size: 0.9rem;
    transition: color 0.15s ease-in-out;

    &:hover {
      color: var(--clr-text);
    }

    &:active {
      color: var(--clr-text);
    }
  }

  .active {
    box-shadow: inset 0 -2px var(--clr-text-100);
  }
}
