.container {
  position: relative;
  cursor: zoom-in;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 1000px var(--clr-base-100);
    transition: all 0.15s ease-in;
    opacity: 0.5;
    display: none;
  }

  &:hover {
    .overlay {
      display: block;
    }
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
